outputs/
plots/
utils/tmpyirfsp9b
utils/tmpsjp7up79
utils/tmps5_xf8tb
utils/tmprinsnyno
utils/tmpmh4yrtpp
utils/tmph8wfwery
utils/tmpfrlncv2v
utils/tmp5t17_0jy
utils/tmp5nf9_vs8
utils/tmp4b2s5j_p
utils/tmp41smjhvl
utils/__pycache__/hz_utils.cpython-38.pyc
tmptmsgpe46
tmpnryik2ua
tmplefklolc
tmpkordw6c6
tmpiwlpzuok
tmpfwhpr_wt
tmpfjoxopaj
tmpd0wushf6
tmp9cf49hnt
tmp26mh8ubj
plot_alt_CHZ_fractions.py
plot_CHZ_fractions.py
compute_CHZ_grid.py
